@import "Colors"

.ingredients-list
  width: 100%
  height: 100%
  padding: 20px
  button
    padding: 10px
    border-radius: 3px
    &:hover
      filter: brightness(90%)
  & > .ingredient-adder
    padding: 10px
    padding-left: 0
    & > .form-group
      display: flex
      & > input,
      & > button
        font-size: 14px
        padding: 10px 5px
      & > input
        flex-grow: 1
        border-radius: 3px 0 0 3px
        border-top: solid 1px lightgray
        border-bottom: solid 1px lightgray
        border-left: solid 1px lightgray

        &:focus
          outline: none
          border-color: $marmiton-orange
      & > button
        padding-left: 20px
        padding-right: 20px
        border-radius: 0 3px 3px 0
        border-top: solid 1px $marmiton-orange
        border-right: solid 1px $marmiton-orange
        border-bottom: solid 1px $marmiton-orange
        background-color: $marmiton-orange
        color: white
  & > .ingredients-added
    & > li
      display: flex
      justify-content: space-between
      align-items: center
      padding-right: 10px